.toggle-btn {
    padding: 12px;
    background-color: #0239C5;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 40px;
    outline: none;
    box-shadow: 0px 0px 30px rgba(256,256,256,.1);
    cursor: pointer;
    transition-duration: 1000ms;
}
.toggle-btn:focus {
    outline: none;
}

.toggle-btn:hover {
    background-color: #0246F0;
    color: snow;
}

.app {
    background: blue url('bg.jpg') center center no-repeat;
    background-size: cover;
    height: 1000px;	
}

.WText {
    color: snow;
    font-weight: 700;
    font-size: 45px;
}