<%- include("partials/header") %>

<div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <div class="content">
          Secret Page
        </div>
      </h2>
        <div class="ui stacked segment">
            <img src="https://i.pinimg.com/originals/22/eb/fd/22ebfd3c4b2b40486ff2a370f709ba50.gif" alt="Cat">
          <br>
          <br>
          <a href="/logout" class="ui fluid large teal submit button">Logout</a>
        </div>
      </form>
    </div>
</div>

<%- include("partials/footer") %>